.main {
  margin: 0 0 $gutter-size;
}

.title {
  display: flex;

  h5 {
    flex-grow: 1;
    font-size: $font-size-section-title;
    font-weight: bold;
  }
}

.children {
  border: 1px solid $border-color;
}
