.table {
  background: $background-color;
  table-layout: fixed;
  width: 100%;

  td {
    border-bottom: 1px solid $border-color;
    padding: 6px 11px;
    vertical-align: top;
    word-wrap: break-word;
  }

  tr:last-child {
    td {
      border-bottom: none;
    }
  }

  .label {
    background: $background-emphasis-color;
    border-right: 1px solid $border-color;
    font-weight: bold;
    width: 200px;
  }
}

.pre {
  padding: 0;
  margin: 0;
}
