.main {
  border: 1px solid $border-color;
  margin-top: $grid-gutter-width/2;
  padding: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;

  > div {
    margin-bottom: $gutter-size/2;
  }
}

.options {
  label {
    font-weight: normal;
    padding-right: $grid-gutter-width;
  }

  input {
    margin-right: 8px;
  }
}
