.main {
  margin: $gutter-size auto;
  border-radius: $border-radius-standard;
  background-color: $background-content-color;
  padding: $gutter-size/2;
}

.main pre {
  padding: 0px;
  background-color: transparent;
  margin-bottom: 20px;
}

.copyButton {
  width: 100%;
}
