.empty {
  background: $background-color;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
}

.image {
  margin-bottom: $gutter-size * 2;
  height: 70px;
}

.emptyLabel {
  color: $text-strong-color;
  display: block;
  font-size: 24px;
  padding-bottom: $gutter-size;
  width: 250px;
  margin: 0 auto;
  line-height: 26px;
}

.code {
  font-size: 20px;
  padding: 2px 6px;
  font-size: 18px;
}
