.empty {
  background: $background-color;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  margin-bottom: $gutter-size * 2;
  height: 70px;
}

.emptyLabel {
  color: $text-strong-color;
  display: block;
  font-size: 24px;
  padding-bottom: $gutter-size;
}

.code {
  font-size: 20px;
}
