.empty {
  background: $background-color;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
}

.noResults {
  background: transparent;
}

.image {
  margin-bottom: $gutter-size;
  height: 70px;
}

.emptyLabel {
  color: $text-strong-color;
  display: block;
  font-size: $font-size-page-title;
  padding-bottom: $gutter-size;
  width: 250px;
  margin: 0 auto;
  line-height: 26px;
}

.noResultsLabel {
  padding-bottom: 0;
}

.code {
  padding: 2px 6px;
  font-size: $font-size-section-title;
}

.objectHelp {
  :global(.emptyContainer) {
    padding-bottom: $gutter-size;
    width: 350px;
    border: 1px solid $border-color;
    margin: $gutter-size auto;
    padding: $gutter-size/2;
    text-align: left;
  }

  :global(.emptyList) {
    padding-left: $gutter-size/2;
    margin-bottom: 0px;
  }

  :global(.emptyListItem) {
    padding-left: 6px;
  }
}
