.main {
  background: $highlight-danger-background;
  color: $highlight-danger;
  border: 1px solid $highlight-danger-border;
  border-radius: $border-radius-standard;
  padding: 20px;
  margin-bottom: 20px;
  word-wrap: break-word;

  a {
    color: $highlight-danger;
    text-decoration: underline;
  }
}

.message {
  margin-bottom: 15px;
}

.extra {
  line-height: 1.3;
}
