
body, html {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    min-width: 910px;
}
body,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

body {
    line-height: 1.7em;
    color: #444;
    background: #ededed;
}
p {
    margin-bottom: 20px;
    margin-top: 10px;
}

img, iframe {
    max-width: 100%;
}

iframe {
    max-height: 100%;
}

img {
    height: auto;
}

.btn {
    background: #2198D7;
    color: #fff;

    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;

}

.btn:hover {
    background: #333;
}

.btn-download {
    border-radius: 0 4px 0 0;
    font-weight: bold;
    width: 25px;
    overflow: hidden;
}

.btn-download img {
    width: 25px;
    float: left;
    margin-top: 18px;
    margin-right: 15px
}

.btn-download:hover {
    width: 165px;
}

iframe {
    border: 0 !important;
}

header {
    width: 100%;
    height: 37px;
    overflow: hidden;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
}

.container {
    width: 95%;
    max-width: 650px;
    position: relative;
}

strong, dt, h3, h4 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
    line-height: 40px;
}

h1 {
    line-height: 1.2;
    font-size: 28px;
    font-weight: 400;
    border-bottom: 1px #dee1e4 solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
    margin-top: 20px;
    color: #373e42;
    line-height: 24px;
    font-weight: 600;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}
h3 {
    font-weight: 400;
}

hr {
    background: #EEE;
    border: 0;
    height: 1px;
    margin: 20px 0 20px;
}

blockquote {
    margin: 1em 0;
    border-left: 3px solid #ccc;
    padding-left: 20px;
    text-align: left;
}

dt {
}

dd {
    padding: 0;
    margin: 0 0 25px 0;
}

a {
    -webkit-transition: all ease 150ms;
    -moz-transition: all ease 150ms;
    -o-transition: all ease 150ms;
    transition: all ease 150ms;
    text-decoration: none;
    color: #49abca;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #2198D7;
}

table {
  border-collapse:
  collapse; border-spacing: 0;
  font-weight: normal;
  font-size: 14px;
}

td, th {
  border: 1px solid #CCC;
  height: 30px; /* Make cells a bit taller */
  padding:10px;
}

th {
background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
background: #FAFAFA; /* Lighter grey background */
padding: 10px
}

/* Header Styles */

header {
    padding: 2em 0 2em 0;
    background-color: #20252D;
    border-color: #12151a;

    color: #fff;
}

header h2 {
    margin: 0 0 1em 0;
}

header h2.lone-header {
    margin: 0;
}

footer {
    text-align: center;
    padding: 1.5em 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

footer p {
    margin: 0;
    color: #999;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/* Navigation Styles */
nav {
    background: #444;
    padding: 0;
    min-height: 60px;
    border-radius: 5px 5px 0 0;
}

nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    padding: 0 1em;
    text-decoration: none !important;
    font-size: .9em;
    height: 60px;
    line-height: 60px;
    display: block;
}

.external-link {
  background-image: url("./images/link.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 15px;
}

nav h1 a {
    padding: 7px 1em;
    height: 46px;
    line-height: 0;
    height: 45px;
    line-height: 60px;
    color: #000;
}

nav h1 a img {
    margin-right: 10px;
    float: left;
    margin-top: 9px;
}

nav h1 a span {
    float: left;
    margin-top: -5px;
}

nav a:active {
    color: #fff;
    cursor: default;
}

nav ul.site {
    padding: 20px 0 0 0;
}

nav #menu {
    overflow: hidden;
    max-height: 0;
    clear: left;
}

nav #menu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
    padding: 0 16px;
}

@media only screen and (min-width: 680px) {
    nav, nav #menu {
        height: 60px !important;
    }

    nav li, nav a {
        float: left;
    }

    nav ul.site {
        float: left;
        padding: 0;
        clear: none;
    }

    nav ul.site li {
        margin: 0 0 0 10px;
    }

    nav #menu-toggle {
        display: none !important;
    }

    nav #menu {
        max-height: 9999px;
        clear: none;
    }
}

/* Content Styles */
section {
    padding: 1em 0 3em;
    text-align: center;
}

section.vibrant {
    background: #222;
    color: #fff;
}

section.vibrant h4 {
    line-height: 2;
    font-weight: normal;
    width: 90%;
    margin: 0 auto;
}

nav:before,
nav:after,
header:before,
header:after,
section:before,
section:after {
    content: " ";
    display: table;
}

nav:after, header:after, section:after {
    clear: both;
}

nav, header, section {
    *zoom: 1;
}

/* Form Styles */
input {
    display: block;
    vertical-align: middle;
    line-height: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

input:focus {
    border-color: #007eb2;
    outline: 0;
}

.docs-nav {
    border-right: 1px solid #dee1e4;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 50px 20px;
    font-size: 0.97em;
    overflow-y: scroll;
}

.docs-nav strong {
  display: block;
  margin-bottom: 5px;
}

.docs-nav a {
    display: block;
    text-decoration: none;
    border-right: 2px solid transparent;
    color: #4c555a;
    margin-left: 15px;
    padding:5px 0;
}

.docs-nav a:active,
.docs-nav .active {
    color: #49abca;
    opacity: 1;
}
.docs-nav a:active:hover,
.docs-nav .active:hover {
    color: #49abca;
    padding-left: 0;
    opacity: 1;
}


@media only screen and (min-width: 400px) {
    .docs-nav {
        width: 190px;
        -webkit-transition: top linear 50ms;
        -moz-transition: top linear 50ms;
        -o-transition: top linear 50ms;
        transition: top linear 50ms;
        position: fixed;
        top:67px;
        left:20px;
        bottom:0;
        z-index:2;
        oa
    }

    .docs-nav.fixed {
        position: fixed;
        top: 49px;
        width: 220px;
    }

    .docs-nav a:hover {
        color: #4c555a;
        opacity:0.75;
    }

    .docs-nav .separator {
        height: 20px;
    }

    .docs-content {
        padding-left: 280px;
        margin-top:68px;
    }

    header {
        padding: 1em 0 1em 0;
    }

    .container {
        max-width: 1170px;
        padding: 0 20px;
    }

    section {
        padding: 3em 0;
        text-align: left;
        background: #fff;
    }

    section.centered {
        text-align: center;
    }

    input {
        display: inline-block;
    }

}


p code{
    padding: 2px 6px;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.06);
    color: #333;
    border-radius: 3px;
    white-space: normal;
}

.chain-brand {
    width: 100px;
    position: relative;
    top: 3px;
    left: 41px;
}
.app-title {
    font-size: 20px;
    position: absolute;
    left: 195px;
    top: 6px;
}
.section-divider {
    background: rgb(91, 179, 207);
    border: 0;
    height: 6px;
    margin: 100px 0 40px;
}

.section-divider:first-of-type {
    margin-top: 0;
}
.bold-link {
    font-weight: 400;
    text-decoration: underline;
}
