.main {
  display: flex;
}

.alert {
  padding: $gutter-size/2 $gutter-size+2px;
  border-bottom: 1px solid transparent;

  :global {
    .close {
      padding-right: 10px;
    }
  }
}

.info {
  background-color: $alert-info-bg;
  border-color: $alert-info-border;
  color: $alert-info-text;
}

.success {
  background-color: $success-background;
  border-color: $success-border;
  color: $success;
}

.danger {
  background-color: $highlight-danger-background;
  border-color: $highlight-danger-border;
  color: $highlight-danger;
}

.content {
  width: 100%;
  flex: 1;

  p {
    margin: 0;
  }
}
