<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="Chain Core" Version="!(bind.packageVersion.ChainPackage)"
          Manufacturer="!(bind.packageManufacturer.ChainPackage)" UpgradeCode="42541335-9179-4091-97da-a7618a6bec10"
          DisableModify="button">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication SuppressOptionsUI="yes"
                                              LicenseUrl="http://chain.com/"
                                              ThemeFile="ChainTheme.thm"
                                              LocalizationFile="ChainTheme.wxl"
                                              LogoFile="logo.png" />
    </BootstrapperApplicationRef>

    <!-- Chain Core Options -->
    <Variable Name="InstallFolder" Value="[ProgramFilesFolder]Chain\" Persisted="yes" bal:Overridable="yes" />
    <Variable Name="PORT" Value="8080" Persisted="yes" Type="numeric" bal:Overridable="yes" />

    <!-- Postgres Config Options -->
    <Variable Name="OptionInstallPostgres" bal:Overridable="yes" Type="numeric" Persisted="yes" Value="1" />
    <Variable Name="PgInstallFolder" bal:Overridable="yes" Type="string" Value="[InstallFolder]Postgres" />

    <!-- <Chain> is actually an element specific to Wix
        (http://wixtoolset.org/documentation/manual/v3/xsd/wix/chain.html)
        and not a custom addition.  -->
    <Chain>
      <MsiPackage Id="ChainPackage" SourceFile="$(var.ChainPackage.TargetPath)">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="PORT" Value="[PORT]" />
      </MsiPackage>

      <ExePackage
      	SourceFile="$(var.PostgresPackage.TargetPath)"
	InstallCommand="--mode unattended --prefix &quot;[PgInstallFolder]&quot; --extract-only 1"
	InstallCondition="OptionInstallPostgres" />

     <ExePackage
        SourceFile="$(var.VCRPackage.TargetPath)"
        Cache="yes"
        PerMachine="yes"
        Compressed="yes"
        InstallCommand="/q"
        InstallCondition="OptionInstallPostgres" />
    </Chain>
  </Bundle>
</Wix>
