.tokenContainer {
  margin: 30px auto 40px auto;
  border-radius: 6px;
  width: 440px;
  background-color: #EFEFEF;
  padding: 15px;
}

.pre {
  padding: 0px !important;
  background-color: transparent !important;
  margin-bottom: 10px;
}

.copyButton {
  width: 100%;
}
