.main {
  padding-bottom: $gutter-size;
  border-bottom: 1px solid $border-color;
  margin: $gutter-size 0;

  &:first-child {
    margin-top: 0;
    padding-top: $gutter-size;
  }

  &:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: $gutter-size*2;
  }
}

.title {
  color: $text-strong-color;
  font-weight: bold;
  font-size: $font-size-section-title;
  text-transform: uppercase;
  margin-bottom: $gutter-size;
}
