.main {
  background: $background-color;
  border: 1px solid $border-color !important;
  color: $text-strong-color;
  width: 100%;
  table-layout: fixed;
  margin-bottom: $gutter-size;

  code {
    padding: 0;
    font-size: 14px;
  }

  td {
    border-top: 1px solid $background-content-color;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $text-color;
  }

  th {
    color: $text-strong-color;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
  }

  td, th  {
    padding: 10px $gutter-size 10px 0;
  }
  th, td {

    &:first-child {
      padding-left: $gutter-size * 2;
    }

    &:last-child {
      text-align: right;
    }
  }
}
