.main {
  background: $background-color;
  width: 100%;

  thead {
    border-bottom: 1px solid $border-color;
  }

  td, th {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
  }
}

.colAction {
  padding-left: $gutter-size * 1.5;
}

.colAction, .colAmount, .colAsset, .colAccount {
  color: $text-strong-color;
  width: 20%;
}

.amount {
  color: $text-strong-color;
  background: none;
}

td {
  border-bottom: 1px solid #f2f2f2;
}
tr:last-of-type td {
  border-bottom: none;
}

.colLabel {
  color: $text-light-color;
  text-align: right;
  width: 5%;
}

.rawId {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  vertical-align: middle;
}

a {
  .rawId {
    color: $highlight-default;
  }

  &:hover .rawId {
    text-decoration: underline;
  }
}
