.main {
  width: 100%;

  thead {
    border-bottom: 1px solid $border-color;
  }

  td, th {
    padding: 6px 15px;
  }
}

.colAction, .colAmount {
  width: 20%;
}

.colAccount {
  text-align: right;
}

.odd td {
  background: $background-emphasis-color;
}

.amount {
  color: $text-color;
  background: $background-emphasis-color;
}

.amount.issue, .amount.spend {
  color: $highlight-danger;
  background: $highlight-danger-background;
}

.amount.receive {
  color: $highlight-success;
  background: $highlight-success-background;
}

.direction {
  color: $text-light-color;
  padding-right: 20px;
}

.asset_id {
  background: $background-emphasis-color;
  color: $text-color;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}
