.brand_image {
  height: 30px;
  margin-top: -5px;
}

.divider {
  color: white;
  opacity: 0.25;
  font-size: 20px;
  margin-top: 10px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $well-bg;
  text-align: center;
}

.glyphicon {
  opacity: 0.5;
  margin-right: 8px;
}

// FIXME: need !important to override bootstrap
.active {
  padding-bottom: 11px !important;
  border-color: lighten($brand-primary, 3%);
  border-style: solid;
  border-width: 0 0 3px 0;
}

.dropdown li {
  a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  & .active {
    border-width: 0 0 0 3px;
    padding-left: 17px;
  }
}
