.main {
  text-align: center;
  list-style-type: none;
  padding: 0;
  user-select: none;
  margin-top: $gutter-size;

  li {
    display: inline-block;
    margin: 0 $gutter-size;
  }
}


.button {
  border: 2px solid $highlight-default;
  color: $highlight-default;
  cursor: pointer;
  display: block;
  line-height: 26px;
  font-size: $font-size-btn-lg;
  height: 30px;
  width: 30px;
  border-radius: 15px;

  &:hover {
    border-color: $highlight-secondary;
  }
}

.disabled {
  border-color: $text-color;
  color: $text-color;
  opacity: 0;
  pointer-events: none;
}
