@font-face {
  font-family: "Nitti";
  src: url('assets/fonts/nitti-normal.woff');
}

@font-face {
  font-family: "Nitti";
  font-weight: bold;
  src: url('assets/fonts/nitti-medium.woff');
}

@font-face {
  font-family: "Nitti Grotesk";
  src: url('assets/fonts/nittigrotesk-normal.woff');
}

@font-face {
  font-family: "Nitti Grotesk";
  font-weight: bold;
  src: url('assets/fonts/nittigrotesk-medium.woff');
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  min-width: $minWidth;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

:focus, .focus {
    outline: none !important;
}

.jumbotron p {
  margin-bottom: 0;
  color: $gray-light;
}

p {
  line-height: 1.5;
  margin-bottom: $grid-gutter-width/2;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.btn-primary {
  border-color: $highlight-default;
  height: 36px;
  color: $text-inverse-color;
  border-radius: $border-radius-standard;
  background-color: $highlight-default;
  padding: 0 20px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  text-decoration: none;
  color: $text-inverse-color;
  background: $highlight-secondary;
  border-color: $highlight-secondary;
}

a:hover,
a:focus {
  color: $highlight-secondary;
  text-decoration: none;
}
