@font-face {
  font-family: "Lato";
  src: url('../fonts/LatoLatin-Regular.ttf');
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url('../fonts/LatoLatin-Bold.ttf');
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;

  position: relative;
  margin: 0 auto;
  min-height: 100%;
  min-width: $minWidth;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

:focus, .focus {
    outline: none !important;
}

.panel-body pre {
  font-size: 13px;
  margin-bottom: 0;
}

.jumbotron p {
  margin-bottom: 0;
  color: $gray-light;
}

p {
  line-height: 1.5;
  margin-bottom: $grid-gutter-width/2;
}
