// Contents of this file are included in every
// CSS module.
//
// Do NOT put styles in here that generate output. Only include
// variables, mixins and other functions describing common
// functionality.

@import 'src/assets/styles/bootstrap-overrides';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins';

$background-color: #ffffff;
$background-content-color: #f2f2f2;
$background-emphasis-color: #fafafa;

$border-color: #d5d9e0;
$text-color: #8c8e94;
$text-light-color: #c5cbd3;
$text-strong-color: #3b4046;

$highlight-default: #00bfaa;
$highlight-success: #00bfaa;
$highlight-success-background: #e3f6f4;
$highlight-danger: #EB4D5C;
$highlight-danger-background: #fdedef;

$background-inverse-color: #20252D;
$border-inverse-color: #303638;
$highlight-inverse-color: #a3a9b8;

$border-radius-standard: 3px;

$title-height: 75px;
$gutter-size: 30px;

$minWidth: 900px;
$maxWidth: 1240px;
$sidebar-width: 220px;

$box-shadow: 0 3px 6px -2px rgba(0,0,0,0.15);
