.main {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.backdrop {
  position: fixed;
  background: transparentize(black, 0.3);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.modal {
  z-index: 1;
  margin: $gutter-size*2.5 auto;
  background: $background-color;
  border: 1px solid $border-color;
  box-shadow: 0 0 50px 8px rgba(0,0,0,0.4);
  width: 500px;
  max-width: 80%
}

.title {
  min-height: $title-height;
  font-size: 20px;
  font-weight: bold;
  background: $background-emphasis-color;
  padding: 0 $gutter-size;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;

  span {
    flex: 1;
    padding: 10px 0;
  }
}

.content {
  margin: $gutter-size;

  pre {
    white-space: pre-wrap;
    background: $background-content-color;
    padding: 8px 12px;
    color: $text-color;
    line-height: 1.4;
  }
}

.footer {
  padding: $gutter-size/2 $gutter-size;
  text-align: right;
  border-top: 1px solid $border-color;
}

.wide {
  width: 850px;
}

.cancel {
  color: $text-color;
}
