.main {
  margin: 40px 0;
}

.title {
  display: flex;

  h5 {
    flex-grow: 1;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
  }

  margin-bottom: 15px;
}

.children {
  border: 1px solid $border-color;
}
