.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar {
  width: $sidebar-width;
  position: fixed;
}

.content {
  width: 100%;
  background: $background-content-color;
  padding-left: $sidebar-width;
}

.sidebarContent {
  background-color: $background-inverse-color;
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  padding-bottom: 30px;

  overflow-y: scroll;
  -ms-overflow-style: none; // MS Edge fix

  z-index: 10;
}

.logo {
  border-bottom: 1px solid $border-inverse-color;
  height: $title-height;
  padding-left: $gutter-size;
  display: flex;
  align-items: center;

  img {
    width: 100px;
  }
}

.settings {
  cursor: pointer;
  line-height: $title-height;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;

  img {
    width: 28px;
    height: 28px;
  }
}

.connectionIssue {
  padding: $gutter-size/2;
  text-align: center;
  background: $highlight-danger-background;
  color: $highlight-danger;
  border-bottom: 1px solid $highlight-danger;
}
