.title {
  font-size: $font-size-h2;
  font-weight: normal;
  margin-top: $gutter-size;
  margin-bottom: $gutter-size;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    width: 30%;
    min-height: 100%;
  }
}

.choice_wrapper {
  display: flex;
  min-height: 100%;

  > label {
    display: flex;
    min-height:100%;
    font-weight: normal;
  }
}

.choice_radio_button {
  position: absolute;
  visibility: hidden;
}

.choice {
  border: 1px solid $table-border-color;
  border-radius: $border-radius-base;
  cursor: pointer;
  min-height: 100%;
  padding: 20px $grid-gutter-width;
  padding-top: 110px;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 90px 90px;

  &:hover {
    background-color: $background-emphasis-color;
  }

  p {
    line-height: 1.4;
  }

  svg {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }

  .choice_title{
    display: block;
    font-size: $font-size-section-title;
    margin: 12px 0;
    color: $text-strong-color;
    font-weight: bold;
  }
}

.new {
  background-image: url('assets/images/config/new.png')
}

.join {
  background-image: url('assets/images/config/join.png')
}

.testnet {
  background-image: url('assets/images/config/testnet.png')
}

input[type=radio]:checked ~ .choice {
  strong {
    color: $text-danger;
  }

  &:hover {
    background-color: transparent;
  }

  &.new {
    background-image: url('assets/images/config/new-active.png')
  }

  &.join {
    background-image: url('assets/images/config/join-active.png')
  }

  &.testnet {
    background-image: url('assets/images/config/testnet-active.png')
  }


  .choice_title {
    color: $brand-primary;
  }

  svg {
    polygon {
      stroke: $brand-primary;
      fill: transparentize($brand-primary, 0.85);
    }

    rect, path {
      fill: $brand-primary
    }
  }
}

.joinFields {
  margin-top: 20px; // hack for 13" displays
  margin-bottom: $gutter-size;
  width: 100%;

  // HACK for 13" displays
  :global {
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.submitWrapper {
  display: block;
  margin-top: 30px;
}

.submit {
  display: block;
  width: 100%;
  margin-top: $gutter-size;
}
