.title {
  font-size: 28px;
  font-weight: normal;
}

.subtitle {
  font-size: 20px;
  color: $text-color;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 1em;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    width: 30%;
  }
}

.choice_wrapper {
  display: flex;

  > label {
    display: block;
    font-weight: normal;
  }
}

.choice_radio_button {
  position: absolute;
  visibility: hidden;
}

.choice {
  border: 1px solid $table-border-color;
  border-radius: $border-radius-base;
  cursor: pointer;
  height: 100%;
  padding: $grid-gutter-width;
  text-align: center;

  &:hover {
    border-color: lighten($brand-primary, 10%);
  }

  svg {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }

  .choice_title{
    display: block;
    font-size: 18px;
    margin: 12px 0;
  }
}

input[type=radio]:checked ~ .choice {
  background-color: transparentize($brand-primary, 0.85);
  border-color: $brand-primary;

  .choice_title {
    color: $brand-primary;
  }

  svg {
    polygon {
      stroke: $brand-primary;
      fill: transparentize($brand-primary, 0.85);
    }

    rect, path {
      fill: $brand-primary
    }
  }
}

.joinFields {
  margin-top: $gutter-size;
  width: 100%;
}

.submitWrapper {
  display: block;
  margin-top: 30px;
}

.submit {
  display: block;
  width: 100%;
  margin-top: $gutter-size;
}
