$sidebar-width: 220px;

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar {
  width: $sidebar-width;
}

.content {
  flex: 1;

  width: 100%;
  background: $background-content-color;
  padding-left: $sidebar-width;
}

.sidebarContent {
  background-color: $background-inverse-color;
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  padding-bottom: 30px;

  overflow-y: scroll;
  -ms-overflow-style: none; // MS Edge fix

  z-index: 10;

  a {
    display: block;
    padding: 3px 0;
    color: $highlight-inverse-color;
  }

  .active {
    color: $highlight-default;

    svg {
      polygon {
        stroke: $highlight-default;
        fill: transparentize($highlight-default, 0.85);
      }

      polyline, path, ellipse {
        stroke: $highlight-default;
      }

      rect {
        fill: $highlight-default;
      }
    }
  }
}

.icon {
  display: inline-block;
  height: 12px;
  margin-right: 14px;
  width: 12px;

  svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.logo {
  border-bottom: 1px solid $border-inverse-color;
  height: $title-height;
  padding-left: $gutter-size;
  display: flex;
  align-items: center;

  img {
    width: 100px;
  }
}

.navigation {
  padding: 0;
  list-style-type: none;
  margin-top: $gutter-size/2;
  margin-bottom: 0;
  padding: 0 $gutter-size;
}

.navigationTitle {
  font-variant: small-caps;
  padding: 3px 0;
}

.glyphicon {
  font-size: 10px;
  padding-bottom: 5px;
  padding-right: 12px;
  vertical-align: middle;
}
