.page_header h1 {
  margin-bottom: 0;
}

.table {
  margin-bottom: $grid-gutter-width;

  td {
    vertical-align: top;
  }
}

.row_label {
  padding-right: $grid-gutter-width;
  font-weight: bold;
  white-space: pre;
}

.row_value {
  white-space: pre;
  text-align: right;
}

.block_hash {
  display: block;
  word-wrap: break-word;
  word-break: break-all;
}

.flex {
  display: flex;
  overflow:hidden;
}

.col {
  display: flex;
  width: 50%;
  padding: $grid-gutter-width;
  h4 {
    margin-top: 0;
  }
}

h4 {
  font-weight: bold;
}

.top {
  border-bottom: 1px solid $border-color;
}

.left {
  padding-left: 0;
  width: 67%;
}

.right {
  border-left: 1px solid $border-color;
  width: 33%;
}

.replication_lag {
  display: inline-block;
  float: right;
  border-radius: $border-radius-base;
  color: white;
  padding: 0 8px;
  line-height: 1.5;
  margin-top: 2px;
  margin-left: -8px;
}

.green {
  background: $highlight-secondary;
}

.yellow {
  background: $brand-warning;
}

.red {
  background: darken($highlight-danger-background, 20%);
}

.mainContainer {
  background-color: $background-color;
}

code {
  padding-left: 0;
}
