.main {
  border: 1px solid $border-color;
  margin-bottom: 30px;
}

.titleBar {
  background: $background-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  padding: 20px 25px;

  code {
    background: $background-content-color;
    color: $text-color;
    padding: 4px 6px;
  }
}

.title {
  flex-grow: 1;

  label {
    color: $text-strong-color;
    font-size: 13px;
    font-weight: bold;
    margin: 0 8px 0 0;
  }
}

.timestamp {
  margin-left: $gutter-size;
}

.viewLink {
  margin: -15px 0;
  padding: 15px;
  position: relative;
}

.chevron {
  width: 5px;
  height: 9px;
  position: absolute;
  right: 0;
  top: calc(50% - 5px;)
}
