.main {
  border: 1px solid $border-color;
  margin-bottom: 30px;
}

.titleBar {
  background: $background-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  padding: 20px 25px;

  code {
    background: #f2f2f2;
    display: inline-block;
    font-size: 14px;
    padding: 0 3px;
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 200px;
  }
}

.title {
  flex-grow: 1;

  label {
    color: $text-strong-color;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 8px 0 0;
  }
}

.timestamp {
  margin-left: $gutter-size;
}

.viewLink {
  margin: -15px 0;
  padding: 15px;
  position: relative;

  background: url('assets/images/chevron-green.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 5px 9px;
}
