.container {
  background: transparentize(lighten($highlight-tutorial, 25%), 0.75);
  padding: $gutter-size;
  border-bottom: 1px solid $border-color;
}

.main {
  border: 1px solid $highlight-tutorial;
}

.collapsed {
  border-bottom: none;
}

.header {
  background-color: $highlight-tutorial;
  box-sizing: border-box;
  color: $text-inverse-color;
  padding: 0 $gutter-size;
  height: $title-height;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.skip {
  flex: 1;
  text-align: right;

  a {
    color: $text-inverse-color;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: underline;
    cursor: pointer;
  }
}
