.container {
  width: 300px;
  margin: $gutter-size $gutter-size*2;

  .tutorialContainer {
    position: absolute;
    width: 300px;
    right: $gutter-size;
    min-height: 100px;
    border: solid $highlight-tutorial 1px;
    background-color: $background-emphasis-color;

    &.fixedTutorial {
      position: fixed;
      top: $gutter-size;
    }

    .header {
      background-color: $highlight-tutorial;
      box-sizing: border-box;
      color: $text-inverse-color;
      padding: 0 $gutter-size;
      height: $title-height;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      width: 100%;
    }

    .list {
      margin: 25px;

      .listItemContainer {
        margin: 0;

        .listBullet {
          margin-right: 10px;
          padding: 2px;
          display: inline-block;
          border-radius: 50%;
          background: $highlight-tutorial;
          width: 18px;
          height: 18px;
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          line-height: 14px;
          color: #FFFFFF;
        }

        .listItemGroup {
          display: inline-block;
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 500;
          line-height: 18px;
          color: #20252D;

          td {
            padding-bottom: 5px;
          }
        }

        .listItemDescription {
          color: #A3A9B8;

          .userInputData {
            color: $highlight-tutorial;
            font-weight: bolder;
          }
        }
      }
    }
  }
}
