.main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.backdrop {
  background: transparentize(black, 0.2);
  width: 100%;
  height: 100%;
}

.content {
  background: $background-color;
  padding: 30px;
  position: absolute;
  top: 10%;
  left: calc(50% - 250px);
  width: 500px;
  max-height: 80%;
  overflow: scroll;

  .header {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #20252D;
  }

  .text {
    padding: 25px 0;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 8px;
    color: #747C89;
    border-bottom: 1px solid rgba(182,188,197,0.27);
  }

  .tutorialButton {
    background: #69A7E4;
    border-color: #69A7E4;
    float: right;
  }
}
