.main {
  background: $background-color;
  padding: $gutter-size;
  border-bottom: 1px solid $border-color;
  height: $title-height;
  display: flex;
  align-items: center;
  code {
    background: #f2f2f2;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding: 0 3px;
    margin-left: 3px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
  }
}
.title {
  color: $text-strong-color;
}

.navigation {
  flex-grow: 1;
}

.crumbs {
  display: flex;
  font-size: 22px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.crumb a {
  position: relative;
  padding-right: $gutter-size/2;
  margin-right: $gutter-size/2;

  .chevron {
    width: 5px;
    height: 10px;
    position: absolute;
    right: -2px;
    top: calc(50% - 5px;)
  }
}

.actions {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
