<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:http="http://schemas.microsoft.com/wix/HttpExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="Chain Core Package" Language="1033" Version="1.0.1" Manufacturer="Chain Inc." UpgradeCode="eaa938af-2d6c-4912-b33d-1a09a6b1e81c">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Property Id="PORT" Value="1999" Secure="yes">
      <RegistrySearch Id="TryFindPort" Root="HKLM" Key="SOFTWARE\Chain" Name="ChainCorePort" Type="raw" />
    </Property>

    <Feature Id="ProductFeature" Title="ChainPackage" Level="1">
      <ComponentGroupRef Id="ChainCoreComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
      <ComponentRef Id="InstallDirDataPermissions" />
      <ComponentRef Id="CleanupMainApplicationFolder" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Chain">
      	  <Component Id="InstallDirDataPermissions" Guid="cfd4e967-6f96-4ff9-9b92-f115e4cac547" KeyPath="yes">
      	    <CreateFolder>
      	      <util:PermissionEx User="Everyone" GenericAll="yes" />
      	    </CreateFolder>
            <RemoveFile Id="removefiles" Name="*.*" Directory="INSTALLFOLDER" On="uninstall" />
      	  </Component>
      	</Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
      </Directory>
    </Directory>

    <!--
      RemoveFolderEx requires that we "remember" the path for uninstall.
      Read the path value and set the APPLICATIONFOLDER property with the value.
    -->
    <Property Id="INSTALLFOLDER">
      <RegistrySearch Key="SOFTWARE\Chain" Root="HKLM" Type="raw" Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
    </Property>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="CleanupMainApplicationFolder" Guid="*">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Chain" Name="Path" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
        <util:RemoveFolderEx On="uninstall" Property="INSTALLFOLDER" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ChainCoreComponents" Directory="INSTALLFOLDER">
       <Component>
         <File Source="../cored.exe" />
       </Component>
       <Component>
         <File Source="../ChainMgr/ChainMgr.exe" />

         <http:UrlReservation Url="http://localhost:1999/">
           <http:UrlAce SecurityPrincipal="BUILTIN\Users" Rights="register" />
         </http:UrlReservation>

         <!--
         Eventually replace this shortcut with a more standard way of having Chain running on a machine,
         name: system service or as tray icon + StartupFolder shortcut.
         -->
         <Shortcut Id="ChainCoreShortcut" Name="Chain Core" Directory="ProgramMenuFolder" Advertise="yes"
                   Description="Starts the chain core server. Then browse to http://localhost:1999" Icon='ChainLogo.exe' />
       </Component>

      <!--
      This Component is marked transitive so the PORT could be changed during repair if desired.
      -->
      <Component Transitive="yes">
        <Condition>NOT PORT=8080</Condition>

        <!--
        This shortcut allows us to remember that a port was set via command-line so we remember to
        clean up the environment variable on uninstall.
        -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Chain" Name="ChainCorePort" Value="1999" Type="string" />

        <Environment Id="SetListenPort" Name="LISTEN" Value="1999" Action="set" System="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <SetProperty Id="ChainBrowseUrl" Value="http://localhost:1999/" Sequence="execute" Before="CreateShortcuts" />

    <ComponentGroup Id="ShortcutComponents" Directory="ProgramMenuFolder">
      <Component>
        <!--
        This registry exists because the Windows Installer wants a per-user keypath when non-Advertised resources
        (such as our shortcut here) are installed to a per-user location (such as ProgramMenuFolder).
        -->
        <RegistryValue Root="HKCU" Key="SOFTWARE\Chain" Name="ChainCoreUrl" Value="[ChainBrowseUrl]" Type="string" />

        <RemoveFolder Id="CleanupShortcutFolder" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Icon Id="ChainLogo.exe" SourceFile="black_logo.ico"/>
  </Fragment>
</Wix>
