
/* Font families */

@font-face {
    font-family: 'Nitti-Normal';
    src: url('/docs/fonts/Nitti-Normal.eot?#iefix') format('embedded-opentype'),  url('/docs/fonts/Nitti-Normal.otf')  format('opentype'),
    url('/docs/fonts/Nitti-Normal.woff') format('woff'), url('/docs/fonts/Nitti-Normal.ttf')  format('truetype'), url('/docs/fonts/Nitti-Normal.svg#Nitti-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nitti-Medium';
    src: url('/docs/fonts/Nitti-Medium.eot?#iefix') format('embedded-opentype'),  url('/docs/fonts/Nitti-Medium.otf')  format('opentype'),
    url('/docs/fonts/Nitti-Medium.woff') format('woff'), url('/docs/fonts/Nitti-Medium.ttf')  format('truetype'), url('/docs/fonts/Nitti-Medium.svg#Nitti-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NittiGrotesk-Normal';
    src: url('/docs/fonts/NittiGrotesk-Normal.eot?#iefix') format('embedded-opentype'),  url('/docs/fonts/NittiGrotesk-Normal.otf')  format('opentype'),
    url('/docs/fonts/NittiGrotesk-Normal.woff') format('woff'), url('/docs/fonts/NittiGrotesk-Normal.ttf')  format('truetype'), url('/docs/fonts/NittiGrotesk-Normal.svg#NittiGrotesk-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NittiGrotesk-Medium';
    src: url('/docs/fonts/NittiGrotesk-Medium.eot?#iefix') format('embedded-opentype'),  url('/docs/fonts/NittiGrotesk-Medium.otf')  format('opentype'),
    url('/docs/fonts/NittiGrotesk-Medium.woff') format('woff'), url('/docs/fonts/NittiGrotesk-Medium.ttf')  format('truetype'), url('/docs/fonts/NittiGrotesk-Medium.svg#NittiGrotesk-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NittiGrotesk-Bold';
    src: url('/docs/fonts/NittiGrotesk-Bold.eot?#iefix') format('embedded-opentype'),  url('/docs/fonts/NittiGrotesk-Bold.otf')  format('opentype'),
    url('/docs/fonts/NittiGrotesk-Bold.woff') format('woff'), url('/docs/fonts/NittiGrotesk-Bold.ttf')  format('truetype'), url('/docs/fonts/NittiGrotesk-Bold.svg#NittiGrotesk-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    border: 0
}

/* Global */
html {
    height: 100%
}

body, html {
    overflow: hidden
}

body {
    min-height: 100%;
    font-size: 18px;
    font-family: NittiGrotesk-Normal;
    -webkit-font-smoothing: antialiased;
}
#docs {
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    /*-webkit-overflow-scrolling: touch*/
}

#docs, #side-nav {
    position: absolute;
    top: 0
}

.brand {
    overflow: hidden;
    position: absolute;
    transform: translateZ(0);
    z-index: 10;
    top: 36px;
    right: 0;
    width: 226px;
    height: 60px;
    margin: 0 0 0 -1px
}

.brand a.mainsite img {
    display: inline-block;
    position: relative;
    width: 99px;
    top: 1px
}

.brand a.subsite {
    display: inline-block;
    height: 22px;
    padding-left: 6px;
    padding-top: 8px;
    font-size: 22px;
    line-height: 20px;
    vertical-align: top;
    color: #00BFAA;
    font-weight: 500;
    text-decoration: none
}

.brand a:hover {
    opacity: .8
}


/* Links */
a,
#doc-header a,
article a,
#side-nav ul li a.active,
#side-nav ul li a:hover,
#side-nav ul li a.toggle:hover {
    color: #00BFAA;
}

a {
    font-family: NittiGrotesk-Normal;
    text-decoration: none;
}
#doc-header a {
    font-size: 17px;
    line-height: 55px;
    padding-left: 30px;
    text-decoration: none;
    font-family: NittiGrotesk-Normal;
}

#doc-header a:hover {
    color: #32325d
}


/* Side navigation */
#side-nav {
    bottom: 0;
    background: #fcfcfc;
    flex: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    -webkit-user-select: none;
    user-select: none;
    width: calc((100% - 994px) / 2 + 226px);
    min-width: 252px;
    border-right: 1px solid #e8e8e8;
}


#side-nav h1 {
    margin-top: 20px;
}

#side-nav h1,
#side-nav ul li a.toggle {
    display: block;
    font-size: 16px;
    color: #706d77;
    font-weight: 500;
    height: 36px;
    line-height: 36px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 0 8px;
    font-family: NittiGrotesk-Normal;
    letter-spacing: 0.2px;
    /*text-transform: uppercase;*/
}
#side-nav a  {
    text-decoration: none;
}

#side-nav ul {
    overflow: hidden
}

#side-nav ul li {
    overflow: hidden;
    margin: 2px 0;
}
#side-nav h1:first-of-type {
    margin-top: 0;
}


#side-nav ul li:last-child {
    margin-bottom: 10px
}

#side-nav ul li ul li a {
    position: relative;
    display: block;
    font-size: 16px;
    color: #706d77;
    text-decoration: none;
    min-height: 28px;
    line-height: 20px;
    padding: 4px 0;
    font-family: NittiGrotesk-Normal;
    letter-spacing: 0.2px;
}

#side-nav .nav-header:not(:first-of-type) {
    margin-top: 40px;
}
#side-nav ul li a:hover {
    font-weight: 500;
    background: transparent;
    position: relative;
}


#side-nav h1 a.selected,
#side-nav ul li a.selected {
    color: #00bf97;
    font-weight: 500
}
.docs-nav {
    position: absolute;
    top: 115px;
    bottom: 0;
    right: 0;
    left: calc(100% - 452px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    padding-bottom: 25px;
    padding-left: 226px;
    padding-right: 10px;
}
.nav-border {
    position: absolute;
    top: 85px;
    right: 10px;
    width: 226px;
    height: 1px;
    background: rgba(120,134,156,.15);
    opacity: 1;
    transition: opacity .15s ease-in-out;
    pointer-events: none;
    padding-right: 10px;
}
.nav-header {
    font-weight: bold;
    text-transform: uppercase;
    font-family: Nitti-Normal;
    color: #20252d;
    font-size: 14px;
}

#sidebar.bordered .nav-border {
    opacity: 1;
}

/* Body layout */
#doc-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    min-width: 1050px;
    transform: translateZ(0);
    outline: none
}

#doc-content {
    position: relative;
    padding-top: 30px;
    padding-left: 32px;
    margin: 0 90px 0 0;
    overflow-x: scroll;
}


#doc-content,
#doc-header {
    margin-left: calc((100% - 994px) / 2 + 226px);
    overflow-x: hidden;
    max-width: 700px;
}

#doc-header {
    padding-right:40px;
    border-bottom: 1px solid #e8e8e8;
}

/* # Article Paragraphs */

article h1 + p:first-of-type {
    padding-top: 10px;
    margin-top: 20px;
}

article strong {
    font-weight: normal;
    font-family: NittiGrotesk-Bold;
}

article li strong,
article p strong {
    color: #1e2224;
}


/* # Lists */
ul {
    list-style: none
}

#doc-content h1 + ul:first-of-type,
#doc-content h1 + ol:first-of-type {
    margin-top: 30px;
}

#doc-header ul {
    text-align: right
}
#doc-header li {
    display: inline-block;
    margin: 0;
}


/* ## Article Lists (numbered and not) */

article ol,
article ul {
    padding-left: 0;
}

article ol:not(:first-child),
article ul:not(:first-child) {
    margin-top: 10px;
}

article li > ol,
article li > ul {
    margin-top: 0 !important;
    margin-left: 0px;
}

article ul > li {
    position: relative;
    margin-bottom: 4px;
    margin-top: 4px;
}


/* ## Article Numbered Lists  */

article ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 18px;
}
article ol > li {
    padding-left: 5px;
}


/* ## Article Unordered Lists  */

article ul {
    list-style-type: disc;
}
article ul > li {
    margin-left: 18px;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
}
sup { top: -0.5em; }
sub { top:  0.5em; }


/* # Sidenotes */

article div.sidenote {
    float:right;
    width: 300px;
}

article div.sidenote {
    padding: 0px 0px 0px 16px;
    background: none;
    margin: 12px 0 20px 50px;
    border-left: 3px solid #f7f7f7;
}

article div.sidenote > p:first-of-type {
    margin-top:0;
    padding-top:0;
}

article div.sidenote p,
article div.sidenote ul,
article div.sidenote ol {
    font-size: 15px;
    line-height: 21px;
}

article div.sidenote p:not(:first-child) {
    padding-top: 7px;
}


@media screen and (min-width: 1640px) {

    #docs {
        overflow-x: visible;
    }
    #doc-content {
        overflow-x: visible;
    }
    #doc-wrapper {
        overflow-x: visible;
    }

    article div.sidenote {
        position:relative;
        margin-right: -350px;
    }

    article div.sidenote p,
    article div.sidenote ul,
    article div.sidenote ol {
        font-size: 16px;
        line-height: 23px;
    }
}



/* Headers */
h1, .modal-title {
    font-size: 36px;
    color: #20252D;
    font-weight: 400;
    border-bottom: 1px solid rgba(120, 134, 156, .15);
    padding-bottom: 8px;
    clear: both;
}

h2 {
    font-size: 24px;
    padding-top: 40px;
    clear: both;
}

h2,
h3 {
    color: #20252D;
    font-weight: 500;
    font-family: NittiGrotesk-Medium;
}

h3 {
    font-size: 20px
}

h4,
h5,
h6 {
    font-size: 18px;
    color: #20252D;
    font-weight: 500;
    font-family: NittiGrotesk-Medium;
}

dl, ol, p, table tbody, ul {
    font-size: 17px;
    color: #373e42;
    line-height: 24px
}

p:not(:first-child) {
    padding-top: 12px
}

#doc-content h2 {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid rgba(120, 134, 156, .15);
}

#doc-content h1 + h2 {
    border-top: none;
    padding-top: 20px;
    margin-top: 20px;
}

#doc-content .separator-tag + h2 {
    border-top: none;
    padding-top: 10px;
    margin-top: 0;
}

.doc-content footer h2 {
    margin-top: 0;
    padding-top: 40px;
    border-top: 1px solid rgba(120, 134, 156, .15);
}

h3 {
    margin-top: -16px;
    padding-top: 16px
}

h3:not(:first-child),
li h3 {
    margin-top: 24px;
    padding-top: 16px
}

li h3,
li h4 {
    padding-top: 0
}

h4,
h5,
h6 {
    margin-top: 10px;
    padding-top: 10px
}

h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child),
li h4,
li h5,
li h6 {
    margin-top: 20px;
    padding-top: 10px
}

ol li h2,
ol li h3,
ol li h4,
ol li h5,
ol li h6 {
    margin-top: 0;
    padding-top: 0
}

#doc-content {
    padding-bottom: 50px;
}
#doc-content h2 {
    border-bottom: none;
}
section:last-child {
    border-bottom: 0
}

section:after {
    content: "";
    display: block;
    clear: both
}


/* Custom overrides */

#doc-content.docs_protocol_papers_protocol-roadmap > h2,
#doc-content.docs_core_reference_product-roadmap > h2 {
    padding-top:20px;
    margin-top:0px;
    border-top:none;
}



h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
    opacity: 1
}

/* Tags */
.tag {
    padding: 3px 4px;
    margin-right: 3px;
    border-radius: 2px
}

h1 .tag {
    position: relative;
    top: -4px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 15px;
    font-weight: 500
}

h2 .tag {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px
}

h2 .tag,
h3 .tag {
    position: relative;
    top: -2px;
    font-weight: 500
}

h3 .tag {
    margin-left: 4px;
    text-transform: uppercase;
    font-size: 12px
}




/* # Tables */

article table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

article table:not(:first-child) {
    margin-top: 18px
}

article table thead tr th {
    font-family: NittiGrotesk-Normal;
    font-size: 13px;
    color:  #858991;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 0 7px 9px;
    letter-spacing: 0.33px;
    vertical-align: top;
    background: #fcfcfc;
}

article table thead tr th:first-child {
    padding-left: 10px;
}

article table tbody {
    font-size: 16px;
    line-height: 24px
}

article table tbody tr td {
    vertical-align:top;
}
article table tbody tr td,
article thead tr th {
    border-color: #e8e8e8;
    border-style: solid;
    padding: 4px 9px;
}

article tbody tr td:first-child,
article thead tr th:first-child {
    min-width:120px;
}

article tbody tr td:first-child,
article thead tr th:first-child {
    border-left-width: 1px
}

article table tbody tr td:last-child,
article thead tr th:last-child {
    border-right-width: 1px
}

article table tbody tr:first-child td,
article thead tr th:first-child {
    border-top-width: 1px
}

article table tbody tr td {
    border-bottom-width: 1px
}
article thead tr th {
    border-top-width: 1px
}


/* Pre and Code */

code {
    font-family: Nitti-Normal;
    font-size: 90%;
}

li > code,
p > code,
h4 > code {
    border-radius: 3px;
    padding: 2px 2px;
    margin: 0 -1px;
    font-family: Nitti-Medium;
    color: #404446;
    letter-spacing: -0.8px;
    background: #fafafa;
}


.code:not(:first-child) {
    margin-top: 18px
}

.tabs-code .tabs-content .code {
    margin-top: 0
}

pre:not(:first-child) {
    margin-top: 18px;
}

pre:not(:last-child) {
    margin-bottom: 8px
}

pre {
    line-height: normal;
    background-color: #fcfcfc;
    border: 0.0625rem solid #f4f6f8;
    border-left: 4px solid #B9F4EE;
    position: relative;
    font-size: 0.8125em;
    line-height: 1.4;
    color: #706d77;
    border-radius: 0.1em;
    margin: 0;
    tab-size: 6px;
    overflow: scroll !important;
    word-wrap: normal !important;
    overflow-x: scroll !important;
    white-space: normal;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
}

pre.wrap {
    word-wrap: break-word
}

pre code {
    position: relative;
    padding: 1rem 1.5rem;
    font-family: Nitti-Normal;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow: auto;
}

.code > pre {
    margin: 0
}

code.language-bash {
    padding-left: calc(1.5rem + 10px);
}

code.language-bash::before {
    content: '$';
    color: #706d77;
    position: relative;
    left: -10px;
}

article li > .code {
    margin-top: 12px !important
}

article li > .code:last-child {
    margin-bottom: 18px
}



/* Buttons */

.btn {
    height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 14px;
    font-family: NittiGrotesk-Medium;
    margin-top: 10px;
}
a.btn.success {
    line-height: 39px;
}

a.btn.success,
button.btn.success {
    min-width: 155px;
    max-width: 200px;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    background-color: #00BFAA;
    border: 1px solid #00BFAA;
    height: 39px;
    padding: 5px 30px;
    text-align: center;
}
a.btn:hover,
a.btn:active,
a.btn:focus,
button.btn:hover,
button.btn:active,
button.btn:focus {
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    background-color: #00d9c1;
    cursor: pointer;
    outline: 0;
    transition: background-color 0.5s ease;
    border-color: #00d9c1;
}

a.btn .icon-download {
    transition: all 0.15s linear;
}
a.btn:hover .icon-download {
    transform: translateY(2px);
}


/* Icons and Images */
.image,
img {
    width: 100%;
}
.btn-icon {
    width: 15px;
    padding-left: 15px;
    position: relative;
}
.close-icon {
    height: 20px;
    width: 20px;
    position: relative;
    top: 0px;
    right: 10px;
}

.icon-download {
    top: 3px;
}

.icon-next {
    top: 1px;
}

.os-icon {
    margin: 0 auto;
    position: relative;
    top: 20px;
    width: 32px;
    height:38px;
    background-image: url(../images/os-icon-sprite.png);
    background-size: 200%;
}
.os-icon-mac {
    background-position: 0 0;
}

.os-icon-windows {
    background-position: 0 -38px;
}

.os-icon-linux {
    background-position: 0 -76px;
}

#download-options .download-option,
#download-options .download-option .os-icon {
    transition: transform 0.15s ease-in-out;
}

#download-options .download-option:hover .os-icon,
#download-options .download-option a.active .os-icon {
    transform: scale(1.1);
}


#download-options .download-option a.active h3 {
    color: #00BFAA;
}

#download-options .download-option a.active{
    color: #00BFAA;
}

#download-options .download-option a.active .os-icon-mac {
    background-position: 32px 0;
}

#download-options .download-option a.active .os-icon-windows {
    background-position: 32px -38px;
}

#download-options .download-option a.active .os-icon-linux {
    background-position: 32px -76px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    margin: 10% auto;
    text-align: center;
}

.modal-title {
    margin-bottom: 30px;
    font-size: 30px;
}

.modal-subtitle {
    color: #333333;
    line-height: 1.5;
    font-family: NittiGrotesk-Normal;
    margin-bottom: 30px;
}

.modal-footer {
    margin-top: 30px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Forms */
.form-container {
    padding: 40px 50px;
    text-align: left;
}

label {
    text-transform: uppercase;
    font-size: 14px;
    font-family: NittiGrotesk-Medium;
    letter-spacing: .1em;
    display: block;
    line-height: 30px;
}

p.form-meta {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 0 14px;
    margin-bottom: 20px;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #fff;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 12px;
    font-size: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus {
    border: 1px solid #00BFAA;
    outline: none;
}

video {
    margin-top: 20px;
}

/* Dividers */
.separator-line {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 60px;
}
.divider {
    width: 100%;
    height: 1px;
    background: #e8e8e8;
    margin: 20px 0;
}
.separator-tag {
    display: block;
    width:40px;
    height:40px;
    background: #b9f3ee;
    border-radius: 20px;
    line-height: 40px;
    position: relative;
    left: 50%;
    margin-left: -20px;
    top: -21px;
    font-family: NittiGrotesk-Medium;
    text-align: center;
    font-size: 15px;
    color: #373e42;
}


/* Tabs */
.option-container h2 {
    border-top: none;
    margin-top: 0;
}
.option-container h2:first-of-type {
    margin-top: 20px;
}
.tabcontent {
    display: none;
}
#download-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 24px !important;
    margin-bottom: 25px
}

#download-options li {
    flex-shrink: 0;
    width: 30%;
    margin: 0 0 10px;
    padding: 0;
    height: 115px;
    line-height: 115px;
}

#download-options li:before {
    display: none
}

#download-options li a {
    position: relative;
    display: block;
    height: 115px;
    text-decoration: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 15px 28px;
    background-size: 40px 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    transition: box-shadow .2s ease-in-out;
    text-align: center;
}

#download-options li a:active {
    background-color: #fafcfc
}

#download-options li a:hover {
    background: #fcfcfc;
}

#download-options li a h3 {
    top: -5px;
    font-size: 20px;
    color: #babdc4;
    font-weight: 500;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

#download-options li a h3,
#download-options li a p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#download-options li a p {
    top: 42px;
    right: 24px;
    bottom: 10px;
    font-size: 15px;
    line-height: 20px
}
.tabs-content {
    position: relative;
    overflow: hidden
}
.tabs-content .tabs-tab, .tabs-content > .code, .tabs-content > pre {
    display: none;
    background: transparent;
    border-radius: 0
}

.tabs-content > .code.selected, .tabs-content > .tabs-tab.selected, .tabs-content > pre.selected {
    display: block
}

.tabs-content > .tabs-tab.selected, .tabs-content > .tabs-tab.selected + .tabs-tab {
    will-change: transform, opacity
}

.tabs-content > .tabs-tab {
    padding-top: 17px
}

.tabs-content .absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}


.download-link {
    z-index: 100000;
}

.docs-nav ul {
    list-style: none;
    padding: 0;
}
.docs-nav ul .inner {
    padding-left: 1em;
    overflow: hidden;
}

.docs-nav.folded-by-default ul .inner {
    display: none;
}
.docs-nav ul li {
    margin: .5em 0;
}
.docs-nav ul li a.toggle {
    display: block;
}
.docs-nav ul li a.toggle:hover {
    background: rgba(0, 0, 0, 0.9);
}


.alert {
    margin: 10px 0px;
    padding: 20px 20px;
    background: #fff6e8;
    color: #3e3c42;
    border-radius: 4px;
}

.next-step {
    display: block;
    font-size: 19px;
    padding: 16px 0 16px 50px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 20px;
    font-family: NittiGrotesk-Medium;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ddd;
    background: #fff;
    color: #23d5bf;
    position: relative;

}
.next-step:hover {
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fcfcfc;
}

.next-step .btn-icon {
    position: relative;
    transition: all 0.15s linear;
}
.next-step:hover .btn-icon {
    left: 5px;
    transform: translateX(6px);
}


/* Media Queries */
@media (max-device-width: 992px) {
    #doc-content, #doc-header {
        max-width: 650px;
        overflow: auto;
    }
    #docs {
        overflow-x: hidden;
    }
    article ol {
        -webkit-padding-start: 22px;
    }
    article ol > li {
        padding-left: 5px;
    }

    article ul > li {
        margin-left: 20px;
        padding-left: 4px;
    }
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    article ol {
        -webkit-padding-start: 28px;
    }

    article ul > li {
        margin-left: 22px;
    }
}

/* Print Styles */
@media print {
    body, html, #doc-wrapper, #doc-content {
        overflow: visible;
    }

    body > * {
        visibility: visible;
    }

    #docs {
        position: static;
        float: none;
    }

    #header, #footer {
        display: none !important;
    }

    @page {
        size: auto;
        margin-bottom: 10mm;
    }

    h1 {
        page-break-before: always;
    }

    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    }

    table, img, p, pre, code {
        page-break-inside: avoid;
    }

    #side-nav {
        display: none;
    }

    #doc-content, #doc-header {
        margin-left: 0;
    }

    #doc-content {
        width: 800px;
        margin-left: 300px;
    }
    article div.sidenote {
        float:left;
        width: 260px;
        margin-left: -330px;
        border-left: none;
        padding-right: 30px;
    }
    footer {
        display: none;
    }
    pre code {
        font-size: 12px;
        line-height: 17px;
        white-space: pre-wrap;
    }
}

.snippet-set {
    margin-top: 18px;
}

.snippet-set pre {
    margin: 0 !important;
}

.snippet-set ul {
    margin: 0 !important;
    list-style-type: none;
    text-align: right;
    font-size: 14px;
}

.snippet-set li {
    display: inline;
    margin: 0;
    padding: 0;
}

.snippet-set li span {
    color: #00BFAA;
}

.snippet-set li span.selected {
    font-weight: bold;
}

.snippet-set li span:hover {
    cursor: pointer;
}

.snippet-set li + li::before {
    content: "•";
    margin-left: 3px;
    margin-right: 3px;
}
