html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 90px;
  padding-top: 70px;
  min-height: 100%;
}

:focus, .focus {
    outline: none !important;
}

.form-container {
  max-width: 50%;
  margin: 0 auto;
}

.panel-body pre {
  margin-bottom: 0;
}

.jumbotron p {
  margin-bottom: 0;
  color: $gray-light;
}
