@font-face {
  font-family: "Lato";
  src: url('../fonts/LatoLatin-Regular.ttf');
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url('../fonts/LatoLatin-Bold.ttf');
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  min-width: 910px;
}

:focus, .focus {
    outline: none !important;
}

.form-container {
  max-width: 50%;
  margin: 0 auto;
}

.panel-body pre {
  font-size: 13px;
  margin-bottom: 0;
}

.jumbotron p {
  margin-bottom: 0;
  color: $gray-light;
}

p {
  line-height: 1.5;
  margin-bottom: $grid-gutter-width/2;
}
