.brand_image {
  height: 30px;
  margin-top: -3px;
}

.navbar_fixed {
  @media(max-width:910px){
    position: absolute !important;
  }

  @media(max-width: $container-desktop) {
    li a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.divider {
  color: white;
  opacity: 0.25;
  font-size: 20px;
  margin-top: $navbar-padding-vertical - 6px;
}

.glyphicon {
  opacity: 0.5;
  margin-right: 8px;
}

// FIXME: need !important to override bootstrap
.active {
  padding-bottom: $navbar-padding-vertical - 3px !important;
  border-color: lighten($brand-primary, 3%);
  border-style: solid;
  border-width: 0 0 3px 0;
}

.dropdown li {
  a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  & .active {
    border-width: 0 0 0 3px;
    padding-left: 17px;
  }
}
