.container {
  position: fixed;
  right: 50px;
  top: 150px;
  width: 300px;
  min-height: 100px;
  border-left: solid #69A7E4 3px;
  border-bottom: 1px solid rgba(0,0,0,0.09);
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.09);
  padding: 25px 0;

  .header {
    margin: 0 25px;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #B6BCC5;
  }

  .content {
    margin: 0 25px;

    .listHeader {
      padding: 15px 0;
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
      color: #20252D;
      border-bottom: 1px solid rgba(182,188,197,0.27);
    }

    .listItemContainer {
      margin: 15px 0;

      .listItem {
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        color: #20252D;
        margin-bottom: 5px;

        .listBullet {
          display: inline-block;
          border-radius: 50%;
          background: #69A7E4;
          width: 18px;
          height: 18px;
          text-align: center;
          margin-right: 10px;
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          line-height: 14px;
          padding: 2px;
          color: #FFFFFF;
        }
      }

      .listItemDescription {
        color: #A3A9B8;
      }

      li {
        list-style: none;
      }
    }
  }
}
