.container {
  width: 100%;
  min-height: 100px;
  border-left: solid #69A7E4 8px;
  border-bottom: 1px solid rgba(0,0,0,0.09);
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.09);

  .header {
    margin: 0 25px;
    padding: 25px 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #20252D;
    border-bottom: 1px solid rgba(182,188,197,0.27);
  }

  .skip {
    float: right;

    a {
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      color: #B6BCC5;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .content {
    margin: 0 25px;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: #69A7E4;
      font-size: 50px;
      margin-right: 25px
    }

    .text {
      display: inline-block;
      width: 75%;
      font-size: 15px;
      line-height: 18px;
      color: #747C89;
    }

    li {
      list-style: none;
    }

    .next {
      display: inline-block;
      float: right;

      button {
        background-color: #FFFFFF;
        border: 1px solid #69A7E4;
        border-radius: 2px;
        color: #69A7E4;
      }
    }
  }
}
