.main {
  padding-top: $gutter-size;
  border-top: 1px solid $border-inverse-color;
  margin-top: $gutter-size;
}

.testnetError {
  color: $brand-danger;
}

.testnetReset {
  color: $brand-warning;
}
