/*Boostrap Overrides*/

.navbar {
  background: #20252D;
  border: 0;
}

.navbar-brand {
  padding: 10px 0 0 15px;
}

.container {
  max-width: 1200px;
}

.table {
  font-size: 14px;
  margin-bottom: 0;
}

.table>tbody>tr>td {
  line-height: 34px;
  padding: 20px 8px;
}

.panel-heading {
  background-image: none !important;
}

.panel-title {
  line-height: 34px;
}

.panel-body.inner {
  padding-top: 5px;
}

.panel-body.inner h1 {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: 700;
}

.radio {
  margin-top: 5px;
}

.form-inline input {
  margin-right: 10px;
}

.input-group select.with-addon {
  -webkit-appearance: none;
  -webkit-border-left-radius: 0px !important;

}

select {
  -webkit-appearance: none;
  -webkit-border-left-radius: 0px !important;
  min-width: 200px;
  background: url('./images/select-arrow.png') no-repeat!important;
  background-size: 10px !important;
  background-position: calc(100% - 10px) center !important;
  cursor: pointer;
}

select:hover {
  background-color: #fafafa !important;
}

.input-group-addon {
  min-width: 100px;
  text-align: left;
}

.btn {
  border-radius: 3px;
}

.btn-lg {
  font-size: 16px;
}

.btn-primary {
  background: #00BFAA;
  border-color: #00BFAA;
  text-shadow: none;
  box-shadow: none;
}

.btn-primary.btn-wide {
  min-width: 100px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  background: #00BFAA !important;
  border-color: #00BFAA !important;
  opacity: .8;
  outline: none !important;
}

.btn-primary:disabled, .btn-primary:disabled:hover {
  background: #cccccc !important;
  border-color: #cccccc !important;
  color: #808080;
  opacity:.65;
}

.glyphicon-floppy-disk {
  top:3px;
  padding-right: 2px;
}

pre {
  padding: 15px;
}

pre.wrap {
  white-space: pre-wrap;
  word-break: keep-all;
  line-height: 24px;
}

/*Styles*/

.navbar-brand img {
  height: 30px;
}

.navbar .divider-vertical {
    height: 20px;
    margin: 15px 9px;
    border-right: 1px solid rgba(255,255,255,0.2);
}

section h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 35px;
  border-top: 1px solid #f2f2f2;
}

.form-wrapper {
  margin: 0 20px 20px;
}

.form-wrapper section:first-of-type h4 {
  margin-top: 15px;
  padding-top: 10px;
  border-top: none;
}
.argument {
  margin-top: 40px;
}

.argument:first-of-type {
  margin-top: 0;
}

.argument .form-group {
  max-width: 250px;
}

.nested {
  margin: 10px 0 10px 20px
}

.nested .description {
  font-style: italic;
  position: relative;
  color: #929292;
  margin-bottom: 10px;
}

.nested .description::before {
  content: "↳";
  position: absolute;
  left:-16px;
  top:2px;
  font-style: normal;
  font-size: 90%;
}

.type-label {
  font-style: italic;
}

/*React Component Overrides*/

.__react_component_tooltip {
  z-index: 9999 !important
}

#root {
  padding-bottom: 30px;
}

/*Ace Editor Overrides*/

.ace-monokai {
  background-color: #20252d !important;
}

.ace_gutter {
  background-color: #000 !important;
  opacity: .2;
  color: #fff !important;
}
