.main {
  padding: $gutter-size/2 $gutter-size;
}

.search_field_full, .search_field_half, .sum_by_field {
  display: inline-block;
  position: relative;
}

.search_field_full {
  width: 100%;
}

.search_field_half {
  width: 60%;
  padding-right: 10px;
}

.sum_by_field {
  width: calc(40% - 130px);
}

.search_input {
  height:50px;
  padding: 10px 20px;
  border: 1px solid $border-color;
  height: 44px;
  color: $text-strong-color;
  border-radius: 25px;

  &:focus {
    box-shadow: none;
    border-color: $highlight-secondary;
  }
}
.search_input::-webkit-input-placeholder {
    color: #b6bcc5;
  }

.search_button_container {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  width: 120px;
  vertical-align: bottom;
}

.search_button {
  width: 100%;
  margin-top:-3px;
  height:50px;
  font-size: 18px;
}

.clear_search {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.queryTime {
  display: inline-block;
  padding: 4px 20px;
  opacity: 0.66
}
