.container {
  width: 100%;
  background-color: $background-emphasis-color;
  padding: 25px $gutter-size;
  display: flex;
  align-items: center;

  .image {
    margin-right: 20px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    align-self: flex-start;
  }

  .text {
    flex: 10;
    font-size: 15px;
    line-height: 1.3;
    max-width: 600px;
    padding-right: $gutter-size;

    p:last-child {
      margin: 0;
    }
  }

  .listItemContainer {
    margin: 15px 0;

    .listBullet {
      margin-right: 10px;
      padding: 2px;
      display: inline-block;
      border-radius: 50%;
      background: $highlight-tutorial;
      width: 18px;
      height: 18px;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      line-height: 14px;
      color: #FFFFFF;
    }

    .listItemGroup {
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.4;
    }
  }

  .nextWrapper {
    margin-left: $gutter-size;
    text-align: right;
    flex: 1;
  }

  .next {
    background-color: $highlight-tutorial;
    background-image: url('images/chevron-white.png');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 5px 9px;
    border: 1px solid $highlight-tutorial;
    border-radius: 3px;
    color: $background-color;
    padding-right: 20px;
  }

  button:active:focus {
    background-color: $highlight-tutorial;
    border-color: $highlight-tutorial;
    color: $background-color;
  }
}
