.container {
  width: 100%;
  background-color: $background-color;
  padding: 25px $gutter-size;
  display: flex;
  align-items: center;

  .image {
    margin-right: $gutter-size;
  }

  .text {
    flex: 1;
    font-size: 15px;
    line-height: 1.3;
  }

  .next {
    display: flex;
    align-items: center;
    margin-left: $gutter-size * 2;
    float: right;
    background-color: $background-color;
    border: 1px solid $highlight-tutorial;
    border-radius: 2px;
    color: $highlight-tutorial;
  }

  button:active:focus {
    background-color: $highlight-tutorial;
    border-color: $highlight-tutorial;
    color: $background-color;
  }
}
