.container {
  width: 100%;
  background-color: $background-color;
  padding: 25px $gutter-size;
  display: flex;
  align-items: center;

  .image {
    margin-right: 20px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    align-self: flex-start;
  }

  .text {
    flex: 10;
    font-size: 15px;
    line-height: 1.3;
    max-width: 600px;
    padding-right: $gutter-size;

    p:last-child {
      margin: 0;
    }
  }

  .nextWrapper {
    text-align: right;
    flex: 1;
  }

  .next {
    background-color: $background-color;
    background: url('assets/images/chevron-blue.png');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 5px 9px;
    border: 1px solid $highlight-tutorial;
    border-radius: 2px;
    color: $highlight-tutorial;
    padding-right: 20px;
  }

  button:active:focus {
    background-color: $highlight-tutorial;
    border-color: $highlight-tutorial;
    color: $background-color;
  }
}
